<div class="endGameContainer">
  <div class="Button endGame-close-button">X</div>
  <div class="endGameHeading">
    <div id="winner" class="endGameWinner Winner">Winner:</div>
    <div id="winner" class="endGameWinner stateWins">State</div>
  </div>
    <div class="article-container">
      <div class="article">
        <div class="article-heading">TERROR LEADER BROKE, PLOT THWARTED</div>
        <div class="article-subsection">
          <div class="article-photo-section">
            <div class="article-photo photo-stateWins-LeaderStarved"></div>
          </div>
          <div class="article-subsection-text">
            <div class="article-subheading">Feds stopped flow of cash to terrorist leader</div>
          </div>
        </div>
      </div>
    </div>
</div>
