<div class="byTheNumbers">
  <div class="byTheNumbers-heading">By The Numbers</div>
  <div class="byTheNumbers-line">
    <div class="byTheNumbers-value" id="numberOfTurns"></div>
    <div class="byTheNumbers-text">Turns taken</div>
  </div>
  <div class="byTheNumbers-line">
    <div class="byTheNumbers-value" id="funderReserves"></div>
    <div class="byTheNumbers-text">Funder's reserve cash</div>
  </div>
  <div class="byTheNumbers-line">
    <div class="byTheNumbers-value" id="funderAvailable"></div>
    <div class="byTheNumbers-text">Funder's available money</div>
  </div>
  <div class="byTheNumbers-line">
    <div class="byTheNumbers-value" id="frozenLegit"></div>
    <div class="byTheNumbers-text">Legitimate money frozen</div>
  </div>
  <div class="byTheNumbers-line">
    <div class="byTheNumbers-value" id="frozenTerror"></div>
    <div class="byTheNumbers-text">Terror money frozen</div>
  </div>
  <div class="byTheNumbers-line">
    <div class="byTheNumbers-value" id="nodesDiscovered"></div>
    <div class="byTheNumbers-text">Financial network discovered</div>
  </div>
  <div class="byTheNumbers-line">
    <div class="byTheNumbers-value" id="suspectsIDed"></div>
    <div class="byTheNumbers-text">Suspects identified</div>
  </div>
</div>