<div class="endGameContainer">
  <div class="Button endGame-close-button">X</div>
  <div class="endGameHeading">
    <div id="winner" class="endGameWinner Winner">Winner:</div>
    <div id="winner" class="endGameWinner terroristWins">Terrorists</div>
  </div>
    <div class="article-container">
      <div class="article">
        <div class="article-heading">EXPLOSION AT STATE BUILDING</div>
        <div class="article-subsection">
          <div class="article-photo-section">
            <div class="article-photo photo-terroristWins"></div>
          </div>
          <div class="article-subsection-text">
            <div class="article-subheading">Radical group slipped thousands past feds through financial networks, funded terrorists state-side</div>
          </div>
        </div>
      </div>
    </div>
</div>
