<div class="networkNode">
  <div class="networkNodesAgentTasks">
    <div class="networkNodeIcon networkNodeIconDisabled networkNodeIconDisabled-active">
      <div class="networkNodeIcon-count networkNode-disabled"></div>
    </div>
    <div class="networkNodeIcon networkNodeIconFollowing networkNodeIconFollowing-active">
      <div class="networkNodeIcon-count networkNode-following"></div>
    </div>
    <div class="networkNodeIcon networkNodeIconFreezing networkNodeIconFreezing-active">
      <div class="networkNodeIcon-count networkNode-freezing"></div>
    </div>
    <div class="networkNodeIcon networkNodeIconLocking networkNodeIconLocking-active">
      <div class="networkNodeIcon-count networkNode-locking"></div>
    </div>
    <div class="networkNodeIcon networkNodeIconFocusing networkNodeIconFocusing-active">
      <div class="networkNodeIcon-count networkNode-focusing"></div>
    </div>
  </div>
  <div class="networkNodePortraitContainer">
    <div class="networkNodePortrait">
      <div class="networkNodeIconAlerts"></div>
    </div>
  </div>
  <div class="networkNodeName"></div>
  <div class="networkNodesNotifications">
    <div class="networkNodeIcon networkNodeIconAgents">
      <div class="networkNodeIcon-count networkNode-agents"></div>
    </div>
    <div class="networkNodeIcon networkNodeIconTransfers">
      <div class="networkNodeIcon-count networkNode-transfers"></div>
    </div>
  </div>
</div>
