<div class="playerCardViewContainer">
  <div class="playerCardViewHeading align-right"></div>
  <div class="Button playerCardButton" id='transfer'>transfer</div>
  <div class="playerCardViewMeterSection">
    <div class="playerCardViewFundingProgressContainer" ' + fundingVisibility + '>
      <div class="playerCardViewFundingProgressHeader">Funding Progress</div>
      <div class="playerCardViewFundingProgressMeter">
        <div class="playerCardViewFundingProgressMeterFill"></div>
        <div class="playerCardViewFundingProgressMeterText"></div>
      </div>
      <div class="playerCardViewFundingProgressLabelLeft">$0</div>
      <div class="playerCardViewFundingProgressLabelRight"></div>
    </div>
  </div>
</div>