<div class='playerCardViewContainer'>
  <div class="nodeViewPointer-before nodeViewPointer-before-right"></div>  
  <div class="nodeViewPointer-after nodeViewPointer-after-right"></div>
  <div class='playerCardViewHeading'></div>
  <div class='playerCard-accuse-Container'>
    <div class='Button playerCardButton-accuse' id='accuse'>Arrest</div>
    <div id='accuseWarning' class="playerCard-accuse-Warning-hidden"><b class="accuse-warning-animation">WARNING:</b><br>This will end the game.</div>
  </div>
  <div class='playerCard-trackedMoney-Container'>
    <div class='playerCard-trackedMoney playerCard-trackedMoney-left'>Tracked Money:</div>
    <div class='playerCard-trackedMoney playerCard-trackedMoney-right' id='trackedMoney'></div>
  </div>
  <div class='playerCardInteractiveSection'>
      <div class="nodeViewAgentList playerCardAgentListOffsetSaysRyan"></div>
  </div>
</div>
