<div class="playerCardViewContainer">
  <div class="playerCardViewHeading"></div>
<!--   <div class="playerCardViewSubHeading">Maintenance Cost</div>
  <div class="playerCardViewSubHeading playerCardViewSubHeadingAlt"></div>
  <div class="nodeViewInteractiveSection">
    <div class="playerCardViewMeterSection">
      <div class="playerCardViewMaintenanceCostContainer">
        <div class="playerCardViewMaintenanceCostHeader">Payment Needed In</div>
        <div class="playerCardViewMaintenanceCostMeter"></div>
        <div class="playerCardViewMaintenanceCostLabelLeft"></div>
        <div class="playerCardViewMaintenanceCostLabelRight"></div>
      </div>
    </div>
  </div> -->
</div>