<div class="playerCard playerCardLarge playerCard-color-redterrorist">
  <div class="playerCardPortrait portrait-terrorist01"></div>
  <div class="playerCardName playerCard-textSize-Large"></div>
  <div class="playerCardNotifications">
    <div class="networkNodeIcon networkNodeIconAgents">
      <div class="networkNodeIcon-count networkNode-agents"></div>
    </div>
    <div class="networkNodeIcon networkNodeIconTransfers">
      <div class="networkNodeIcon-count networkNode-transfers"></div>
    </div>
  </div>
  <div class="playerCard-fundsOverview">
    <div class="playerCard-fundsOverview-LabelLeft"></div>
    <div class="playerCard-fundsOverview-LabelRight"></div>
  </div>
  <div class="terrorist-accused toggle-hidden"></div>
  <div class="chart-balance"></div>
</div>