<div class="makeTransferContainer">
  <div class="nodeViewPointer-before nodeViewPointer-before-right"></div>  
  <div class="nodeViewPointer-after nodeViewPointer-after-right"></div>
  <div class="makeTransferHeading">Transfer</div>
  <div class="makeTransferLineItems">
    <div class="makeTransferLineItem">
      <div class="makeTransferLineItem-description">Today's Balance</div>
      <div class="makeTransferLineItem-value"></div>
    </div>
    <div class="makeTransferLineItem makeTransferAmount">
      <div class="makeTransferLineItem-description">Starting Amount</div>
      <div class="makeTransferLineItem-value"></div>
      <div class="makeTransferLineItem-buttonLess">-</div>
      <div class="makeTransferLineItem-buttonMore">+</div>
    </div>
    <div class="makeTransferLineItem makeTransferFees">
      <div class="makeTransferLineItem-description">Fees</div>
      <div class="makeTransferLineItem-value"></div>
    </div>
    <div class="makeTransferLineItem makeTransferFinalAmount">
      <div class="makeTransferLineItem-description">Final Amount</div>
      <div class="makeTransferLineItem-value"></div>
    </div>
  </div>
  <div class="makeTransferRoute"></div>
</div>