<div class="makeTransferContainer">
  <div class="nodeViewPointer-before nodeViewPointer-before-right"></div>
  <div class="nodeViewPointer-after nodeViewPointer-after-right"></div>
  <div class="makeTransferHeading">Create Transaction</div>
  <div class="Button makeTransferSubmitButton">create</div>
    <div class="makeTransferLineItems">
      <div class="makeTransferLineItem">
        <div class="makeTransferLineItem-description">Available Balance</div>
        <div class="makeTransferLineItem-value" id="balance"></div>
      </div>
      <div class="makeTransferLineItem makeTransferAmount">
        <div class="makeTransferLineItem-description">Transaction Amount</div>
        <div class="makeTransferLineItem-value"></div>
        <div class="Button makeTransferLineItem-buttonLess">-</div>
        <div class="Button makeTransferLineItem-buttonMore">+</div>
      </div>
      <div class="makeTransferLineItem makeTransferTime">
        <div class="makeTransferLineItem-description">Turns To Arrive</div>
        <div class="makeTransferLineItem-value"></div>
      </div>
    </div>
  <div class="makeTransferRoute"></div>
</div>
