<div class="creditsContainer">
  <div class="creditsInnerContainer">
    <br><br>
    <div class="credits-header">Follow The Money Developers:</div>
    <div class="credits-block"><div class="credits-block-title">Creative Director</div><div class="credits-block-text">Mike Freeman</div></div>
    <div class="credits-block"><div class="credits-block-title">Project Lead</div><div class="credits-block-text">Erik Johnson</div></div>
    <div class="credits-block"><div class="credits-block-title">Designer and Programmer</div><div class="credits-block-text">Eric Heine</div></div>
    <div class="credits-block"><div class="credits-block-title">Artist</div><div class="credits-block-text">Ryan Lee</div></div>
    <div class="credits-block"><div class="credits-block-title">Programmer</div><div class="credits-block-text">Michael Guerrero</div></div>
    <div class="credits-block"><div class="credits-block-title">Programmer</div><div class="credits-block-text">Jeff Houde</div></div>
    <div class="credits-footer">Naval Postgraduate School<br>MOVES Institute</div>
    <div class="creditsButtonContainer">
      <div class='Button'>close</div>
    </div>
  </div>
</div>