<div class="playerStatus">
  <div class="playerStatus-state">
    <div class="playerStatus-status-waiting-animation playerStatus-hidden">
      <div class="playerStatus-waiting"></div>
      <div class="playerStatus-waiting playerStatus-offset"></div>
    </div>
    <div class="playerStatus-status-playing-animation">
      <div class="playerStatus-playing first-dot"></div>
      <div class="playerStatus-playing second-dot"></div>
      <div class="playerStatus-playing third-dot"></div>
      <div class="playerStatus-playing fourth-dot"></div>
    </div>
    <div class="playerStatus-state-icon"></div>
  </div>
  <div class="playerStatus-terrorist">
    <div class="playerStatus-status-waiting-animation playerStatus-hidden">
      <div class="playerStatus-waiting"></div>
      <div class="playerStatus-waiting playerStatus-offset"></div>
    </div>
    <div class="playerStatus-status-playing-animation">
      <div class="playerStatus-playing first-dot"></div>
      <div class="playerStatus-playing second-dot"></div>
      <div class="playerStatus-playing third-dot"></div>
      <div class="playerStatus-playing fourth-dot"></div>
    </div>
    <div class="playerStatus-terrorist-icon"></div>
  </div>
</div>