<div class="playbackPanel">
  <div class="Button bottombarIcon playbackPanel-control control-first Button-disabled"></div>
  <div class="Button bottombarIcon playbackPanel-control control-rewind Button-disabled"></div>
  <div class="playbackPanel-currentTurn bottombarIcon"></div>
  <div class="Button bottombarIcon playbackPanel-control control-forward Button-disabled"></div>
  <div class="Button bottombarIcon playbackPanel-control control-last Button-disabled"></div>
  <div class="playbackPanel-label">Player Actions:</div>
  <div class="Button bottombarIcon playbackPanel-control control-show-actions Button-disabled">Shown</div>
  <div class="Button bottombarIcon playbackPanel-control control-hide-actions Button-disabled">Hidden</div>
  <div class="Button bottombarIcon playbackPanel-control control-view-state"></div>
  <div class="Button bottombarIcon playbackPanel-control control-view-terrorist"></div>
</div>