<div class="stateAgentOverview">
  <div class="stateAgentOverview-AgentsContainer"></div>
  <div class="stateAgentOverview-StatsContainer">
    <div class="stateAgentOverview-StatsContainer-frozenTerrorist">
      <div class="stateAgentOverview-StatsContainer-frozenTerrorist-label">Terror Money Frozen</div>
      <div class="stateAgentOverview-StatsContainer-frozenTerrorist-amount"></div>
    </div>
    <div class="stateAgentOverview-StatsContainer-frozenNonTerrorist">
      <div class="stateAgentOverview-StatsContainer-frozenNonTerrorist-label">Other Money Frozen</div>
      <div class="stateAgentOverview-StatsContainer-frozenNonTerrorist-amount"></div>
    </div>
  </div>
</div>
