<div class="transactionItemContainer">
  <div class="transactionsItem transactionsItem-pending"></div>
  <div class="transactionsItem-optionButtonsContainer">
    <div class="transactionsItem-optionButtons-row top-row">
      <div class="Button transactionsItem-optionButtons transactionsItem-option-delete"></div>
      <div class="Button transactionsItem-optionButtons transactionsItem-option-edit"></div>
    </div>
    <div class="transactionsItem-optionButtons-row bottom-row">    
      <div class="Button transactionsItem-optionButtons transactionsItem-option-minus">-</div>
      <div class="Button transactionsItem-optionButtons transactionsItem-option-plus">+</div>
    </div>
  </div>
</div>