<div class="terroristHUDContainer">
  <div class="terroristMainMeters">
    <div class="terroristMainMeter-AvailableFunds-MeterContainer">
      <div class="terroristMainMeter-AvailableFunds-title">Future Funds</div>
      <div class="terroristMainMeter-AvailableFunds">
        <div class="terroristMainMeter-AvailableFunds-fill">
          <div class="terroristMainMeter-AvailableFunds-text">$</div>
        </div>
        <div class="terroristMainMeter-CurrentFunds-fill">
          <div class="terroristMainMeter-CurrentFunds-text">$</div>
        </div>
      </div>
      <div class="terroristMainMeter-AvailableFunds-footer">Current Funds</div>
    </div>
    <div class="terroristMainMeter-TransferredFunds-MeterContainer">  
      <div class="terroristMainMeter-TransferredFunds-title">Leader Funds</div>
      <div class="terroristMainMeter-TransferredFunds">
        <div class="terroristMainMeter-TransferredFunds-fill">
          <div class="terroristMainMeter-TransferredFunds-text">$</div>
        </div>
        <div class="terroristMainMeter-GoalFunds-text">$MONEY!!!</div>
      </div>
    </div>
  </div>
</div>