<div class="transactionItemContainer">
  <div class="transactionsItem transactionsItem-inTransit">
    <div class="transactionsItem-text"></div>
    <div class="transactionsItem-progressMeter"></div>
    <div class="transactionItem-courier item-hidden"></div>
  </div>
  <div class="transactionsItem-optionButtonsContainerSmall">
    <div class="transactionsItem-optionButtons-row top-row">
      <div class="Button Button-disabled transactionsItem-option-delete-disabled transactionsItem-optionButtons transactionsItem-option-delete"></div>
    </div>
    <div class="transactionsItem-optionButtons-row bottom-row">    
      <div class="Button transactionsItem-optionButtons transactionsItem-option-edit"></div>
    </div>
  </div>
</div>